@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans';
  background: #F2F2F2;
  width: 100%;
}

h1, h2 {
  font-size: 1.3rem;
  font-weight: 500;
  color: #000;
}

.filter{
  display: none;
  
}

.btn {
  border: none;
  outline: none;
  color: #fff;
  padding: 15px 25px;
  background: #5964E0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.btn__load {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 141px;
}

.btn:hover {
  background: #939BF4;
}

.btnNo{
  display: none;
}

p {
  color: #777;
  font-weight: 400;
  font-size: 0.9rem;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 160px;
  background-image: url(../public/assets/desktop/bg-pattern-header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px 0px 0px 100px;
}

.header__container h1 {
  color: #fff;
  font-family: Kumbh Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;

}

.header__container {
  width: 100%;
  display: flex;
  padding: 20px;
  margin-top: 30px;
  justify-content: space-between;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: 'Kumbh Sans';
}

.container__2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55.5%;
  margin: 0 auto;
  padding: 0 15px;
  font-family: 'Kumbh Sans';
  border-radius: 6px;
}

/*_______ DarkMode Styles her_____ */
 body.dark-mode {
  background-color:  #121721;
}

.dark-mode .search__panel, .dark-mode input{
  background: #19202D;
  color: #fff;
}

.dark-mode .job__item {
  background-color: #19202D;
}

.dark-mode .darkModeh1 {
  color: #fff;
}

.dark-mode .details__wrapper{
  background: #19202D;
  color:#9DAEC2;
}

.dark-mode .job__details h1 {
  color: #FFFFFF;
}

.dark-mode .details__top{
  background: #19202D;
}

.dark-mode .details__top h1, .lin__K{
  color: #FFFFFF;
}

.dark-mode .bottom__wrapper{
  background: #19202D;
}

.dark-mode .bottom__wrapper h1{
  color: #FFFFFF;
}

.dark-mode .bottom__wrapper span{
  color:#9DAEC2;
}

.dark-mode ul li,
.dark-mode ol li {
  color: #717579;
}

.switch {
  display: inline-flex;
  width: 9%;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
}

.switch__label {
  margin-right: 0.5rem;
}

.switch__slider {
  width: 39px;
  height: 20px;
  appearance: none;
  background: #FFFFFF;
  border-radius: 15px;
  padding: 2px;
  outline: none;
  transition: background-color 0.4s ease;
}

.switch__slider::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #5964E0;
  cursor: pointer;
}

.switch__slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
} 



/* _______ Job List Wrapper styles ____________ */
.job__list__wrapper {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

/* __________________Search Panel__________________ */
.search__panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px 30px;
  flex-wrap: wrap;
  background: #FFFFFF;
  margin-top: -50px;
  border-radius: 6px;
  width: 95%;
}

.v-line {
  width: 1px;
  height: 80px;
  background: #6E8098;
  mix-blend-mode: normal;
  opacity: 0.2;
}

.search__box-2{
  display: none;
}

.search__panel-01,
.search__panel-02,
.search__panel-03 {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  outline: none;
}

.search__panel-01 {
  padding: 15px 2px;
  width: 100%;
  max-width: 400px;
}

.search__panel-02 {
  padding: 10px 25px;
  flex-grow: 1;
}

.search__panel-03 .checkbox ,label {
  padding: 15px 25px;
  border: none;
  outline: none;
  cursor: pointer;
}

.search__panel-overlay{
  display: none;
}
.search__panel-01 input,
.search__panel-02 input {
  border: none;
  outline: none;
  color: #000;
  font-size: 0.9rem;
  width: 100%;
}

.search__panel-01 span i,
.search__panel-02 span i {
  color: #7c5dfa;
}

.jobs__wrapper {
  margin-top: 105px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.job__item {
  width: 320px;
  height: 228px;
  margin-bottom: 65px;
  background: #FFFFFF;
  border-radius: 6px;
  padding: 32px;
}

.job__item img {
  border-radius: 15px;
  padding: 10px;
  width: 50px;
  height: 50px;
  margin-top: -80px;
  margin-bottom: 20px;
}

.job__content h6,
.job__content p {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #6E8098;
}

.job__content h1 {
  margin-bottom: 10px;
  height: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #19202D;
}

.job__content h1 a {
  text-decoration: none;
  color: #000;
}

.location p {
  margin-top: 30px;
}

.location p span {
  color: #7c5dfa;
}

.details__wrapper {
  width: 100%;
  margin-top: 10px;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
}

.details__top {
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  padding-right: 15px;
  background: #FFFFFF;
  margin-top: -60px;
  border-radius: 0 6px 6px 6px;
  margin-bottom: 20px;
  overflow: hidden;
}

.details__top img {
  width: 140px;
  height: 100%;
  padding: 40px;
}

.link__styles {
  margin-left: 40px;
  font-family: Kumbh Sans;
  text-align: left;
}

.link__styles h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.link__styles .lin__K {
  font-family: Kumbh Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #6E8098;
}

.details__top button {
  padding: 7px 25px;
  border-radius: 5px;
  background: #8f95d642;
  border: none;
  margin-left: auto;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.lin__K {
  text-decoration: none;
  font-size: 0.9rem;
}


.about__job h6 {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 10px;
}

.about__job h6 {
  font-size: 0.9rem;
  color: #777;
  font-weight: 400;
  margin-bottom: 10px;
}

.about__job h1 {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.about__job span {
  font-size: 0.9rem;
  font-weight: 400;
  color: #7c5dfa;
}

.about__job {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.job__desc {
  line-height: 30px;
  margin-bottom: 20px;
}

.requirements h1 {
  margin-bottom: 10px;
}

.responsibility h1 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.requirements p,
.responsibility p {
  margin-bottom: 15px;
  line-height: 30px;
}

.requirement__item,
.responsibility__item {
  padding-left: 30px;
}
.requirement__item li,
.responsibility__item li {
  margin-bottom: 10px;
  margin-left: 5px;
  font-size: 0.9rem;
  font-weight: 500;
}

.bottom__wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  margin-top:  50px;
  padding: 20px;
}

.left__content {
  flex: 1;
}

.right__content {
  margin-left: 20px;
}


/* #################custom list style######################## */
ul {
  list-style-type: none;
  padding-left: 1.5em;
}

ul li::before {
  content: "•";
  color: #5964E0;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

ol {
  list-style: none;
  counter-reset: item;
  padding-left: 1.5em;
}

ol li::before {
  content: counter(item) "";
  color: #5964E0;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  font-weight: bold;
  counter-increment: item;
}

/* Styles for tablet devices */
@media (max-width: 1024px) {

}

/* Styles for mobile devices */
@media screen and (max-width: 768px) {

  body{
    width:100%
  }
  .header {
    height: 130px;
  }

  .header__container {
   
    display: flex;
    justify-content: space-between;
  }

  .switch{
    width:25%;
  }

  .container{
    padding: 0;
    width: 100%;

  }
  
  .search__panel {
    display: flex;
    height: auto;
    padding: 20px;
    margin-top: -40px;
    width: 87%;
  }

  .btnNo{
    display: inline;
  }

  .v-line {
    display: none;
  }

  .search__panel-01 {
    width: 100%;
    max-width: 100%;
  }

  
  .search__panel-01 span{
    display: none;    
  }

  .search__panel-02 {
    display: none;
  }

  .search__panel-03 {
    display: none;
  }
  .filter{
    display: inline;
    
  }

  .jobs__wrapper {
    padding: 0;
    margin-top: 35px;

  }

  .job__item {
    width: 100%;
    margin-bottom: 40px;
  }

  .job__content h6,
  .job__content p {
    font-size: 14px;
  }

  .job__content h1 {
    font-size: 18px;
  }

  .job__item img {
    width: 50px;
    height: 50px;
    margin-top: -60px;
    margin-bottom: 10px;
  }
  .job__item h1{
    margin-bottom: 10px;
  }


  .container__2{
    padding: 0;
    width: 85%;
    height: inherit;
  }

  .details__top {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    padding: 30px;
  }

  .details__top img {
    width: 100px;
    margin-top: -75px;
    height: auto;
    padding: 30px;
    object-fit: contain;
  }
  
  .about__job{
    display: flex;
    flex-direction: column;
  }

  .about__job .btn{
    margin-top: 20px;
    width: 90%;
  }

  .link__styles {
    margin-left: 20px;
  }

    .bottom__wrapper{
      display: flex;
      justify-content: center;
      align-content: center;
      padding: 20px 0;
    }

    .bottom__wrapper .btn{
      width: 100%;
    }

  .bottom__wrapper .left__content{
    display: none;
  }



  /* ****Overlay****** */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    
  }
  
  .overlay.active {
    opacity: 1;
    visibility: visible;
  }
  
  .overlay .search__panel-02{
    display: flex;
    color: #19202D;
    width: 100%;
    padding-left: 5px;
    
  }

  .overlay .search__panel-03{
    display: flex;
    width: 100%;
    
    padding-left: 0px;
  }
  
  .search__panel-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .search__panel-overlay .btn{
    width: 98%;
  }
  
  .search__panel-overlay .checkbox{
    font-size: 16px;
    font-weight: 700;
  }
}
